You are about to create a new event.
<br/>
Location: <label>
  <input type="text" name="location_box" >
</label><br>
<form method="get" action="/welcome" class="button_to">
  <input type="submit" value="Submit">
</form>